# {{ ansible_managed }}

[Unit]
Description=Network copy to xsel

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
ExecStart=/usr/bin/xsel -i -b -n
StandardInput=socket
StandardOutput=socket
